* {
  margin: 0px;
  box-sizing: border-box;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: bisque;
  font-family: Helvetica, Arial, sans-serif;
  padding: 20px;
}

:root {
  --primary-clr: #ff4b28;
  --secondary-clr: #ff228c;
}

html,
body {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}

.login-container {
  width: 750px;
  max-width: 100%;
  min-height: 480px;
  border-radius: 10px;
  overflow: hidden;
}

.signup,
.sign-in {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.signup {
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.sign-in {
  width: 50%;
  z-index: 2;
}

.logup-form {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}

.logup-form input {
  /* display: block; */
  background-color: #eee;
  padding: 12px 15px;
  margin: 15px 0px;
  width: 100%;
  border-radius: 5px;
  border: none;
  outline: none;
  box-shadow: 0 0 0 2px transparent, 0 0 0 2px transparent;
  transition: all 0.2s ease-in-out;
}

.logup-form input:focus {
  box-shadow: 0 0 0 5px white, 0 0 0 8px var(--primary-clr);
}

.signup form h1,
.sign-in form h1 {
  font-weight: bold;
  margin: 0;
  /* margin: 20px 0; */
  font-size: 36px;
}

.signup form p,
.sign-in form p {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.5px;
  font-weight: 600;
  margin: 10px 0 10px;
}

.sign-in form a {
  font-size: 13px;
  text-decoration: none;
}

.signup form .sub-btn,
.sign-in form .sub-btn {
  color: #fff;
  background-color: var(--primary-clr);
  font-size: 12px;
  font-weight: bold;
  padding: 12px 55px;
  margin: 20px;
  border-radius: 20px;
  border: 1px solid var(--primary-clr);
  /* outline: none; */
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  cursor: pointer;
  width: 80%;
}

.signup form button:hover,
.sign-in form button:hover {
  box-shadow: 5px 5px 0 0 white, 8px 8px 0 0 #ff4b2b;
  transform: translate(-3px, -3px);
}

.signup form button:active,
.sign-in form button:active {
  box-shadow: none;
  transform: translate(2px, 2px) scale(0.9);
}

#sign-Up:active,
#sign-In:active {
  transform: scale(0.9);
}

#sign-Up,
#sign-In {
  color: #fff;
  background-color: transparent;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 55px;
  margin: 20px;
  border-radius: 20px;
  border: 2px solid #fff;
  outline: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
}

#sign-Up svg,
#sign-In svg {
  transition: all 0.2s ease-out;
}

#sign-Up:hover svg {
  transform: translateX(20px);
}

#sign-In:hover svg {
  transform: translateX(-20px);
}

.login-container.right-panel-active .sign-in {
  transform: translateX(100%);
}

.login-container.right-panel-active .signup {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
}

.overlay-panel-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

.login-container.right-panel-active .overlay-panel-container {
  transform: translateX(-100%);
}

.overlay-panel-wrapper {
  position: relative;
  color: #fff;
  left: -100%;
  height: 100%;
  width: 200%;
  background-image: linear-gradient(90deg, var(--primary-clr), var(--secondary-clr));
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.login-container.right-panel-active .overlay-panel-wrapper {
  transform: translateX(50%);
}

.overlay-panel-left,
.overlay-panel-right {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}


.overlay-panel-right {
  right: 0;
  transform: translateX(0);
}

.login-container.right-panel-active .overlay-panel-left {
  transform: translateX(0);
}

.social-container {
  margin: 15px 0 10px;
  display: flex;
  gap: 10px;
}

.social-container a {
  height: 40px;
  width: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #ccc;
  border-radius: 15%;
  color: black;
}

.sign-in form .pswf {
  margin-top: 5px;
  color: #666;
  font-weight: 600;
  text-decoration: underline;
  align-self: flex-start;
}

.sign-in form .pswf:hover,
.atc button.atc-btn:hover,
.social-container a:hover {
  transition: 0.15s linear;
  color: var(--primary-clr);
  color: var(--secondary-clr);
  border-color: var(--primary-clr);
}

.atc button.atc-btn:hover,
.atc button.atc-btn:active {
  box-shadow: none;
  transform: translate(0);
}

.overlay-panel-wrapper p {
  font-weight: 600;
}

.overlay-panel-wrapper h1 {
  margin: 20px 0;
}

.atc {
  color: #333;
  margin-top: 7px;
  align-self: flex-start;
  /* display: none; */
  font-size: 13px;
}

.signup .atc {
  align-self: flex-end;
}

.atc span,
.atc button {
  text-decoration: underline;
  color: black;
  cursor: pointer;
  font-weight: 600;
  background: none;
  border: none;
  padding: 0;
}

.fil-wrapper {
  width: 100%;
  position: relative;
  display: flex;
}

.fil-wrapper .form-label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 15px;
  padding: 0px 5px;
  background-color: transparent;
  pointer-events: none;
  font-size: 14px;
  transition: all 0.3s ease;
}

.fil-wrapper input::placeholder {
  opacity: 0;
}

.fil-wrapper input:focus~.form-label,
.fil-wrapper input:not(:placeholder-shown)~.form-label {
  color: #ff4b2b;
  transform: translate3d(-15%, -220%, 0);
  background-color: white;
}

@media(max-width: 1200px) {
  .login-container {
    position: relative;
    background-color: white;
  }
}

@media (max-width: 750px) {

  .overlay-panel-container {
    left: 0;
    width: 100%;
    transform: none;
  }

  .overlay-panel-wrapper {
    display: flex;
    width: 200%;
    left: 0;
    transform: translateX(0%);
    transition: transform 0.5s ease;
    flex-direction: row-reverse;
  }

  .overlay-panel-left,
  .overlay-panel-right {
    position: relative;
    width: 50%;
    flex-shrink: 0;
    padding: 0px;
  }

  .login-container {
    min-height: auto;
    display: flex;
    flex-direction: column-reverse;
    max-width: 550px;
    padding: 15px;
    width: 100%;
  }

  .overlay-panel-left {
    background-image: linear-gradient(90deg, var(--primary-clr), var(--secondary-clr));
  }

  .overlay-panel-right {
    background-image: linear-gradient(90deg, var(--secondary-clr), var(--primary-clr));
  }

  .signup,
  .sign-in {
    position: relative;
    width: 100%;
    height: auto;
    opacity: 1;
  }

  .logup-form {
    padding: 15px 10px;
  }

  .signup form h1,
  .sign-in form h1 {
    font-size: 28px;
  }

  .social-container {
    margin: 5px 0 0;
  }

  #sign-Up,
  #sign-In {
    margin: 16px 0;
    padding: 10px 44px;
  }

  .overlay-panel-wrapper h1 {
    margin: 10px 0;
    font-size: 28px;
  }

  .overlay-panel-wrapper p {
    font-weight: normal;
    font-size: 14px;
  }

  .signup form p,
  .sign-in form p {
    margin: 8px 0 8px;
  }

  .logup-form input {
    padding: 10px 12px;
    margin: 13px 0px;
    font-size: 13px;
  }

  .fil-wrapper .form-label {
    font-size: 13px;
  }

  .fil-wrapper input:focus~.form-label,
  .fil-wrapper input:not(:placeholder-shown)~.form-label {
    transform: translate3d(-15%, -215%, 0);
  }

  .atc {
    margin-top: 4px;
  }

  .atc span,
  .atc button {
    font-size: 12px;
  }

  .signup form .sub-btn,
  .sign-in form .sub-btn {
    padding: 10px 44px;
    margin: 15px;
  }

  .overlay-panel-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    overflow: hidden;
    border-radius: 5px 5px 0 0;
  }

  .login-container.right-panel-active .overlay-panel-wrapper {
    transform: translateX(-50%);
  }

  .overlay-panel-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transform: none;
    z-index: 10;
    overflow: hidden;
  }

  .login-container.right-panel-active .signup,
  .login-container.right-panel-active .sign-in {
    transform: translateX(0%);
  }

  .overlay-panel-container {
    position: static;
  }

  .logup-wrapper {
    display: flex;
    width: 200%;
    transition: transform 0.5s ease;
    /* flex-direction: row-reverse; */
    transform: translateX(-50%);

  }

  .signup,
  .sign-in {
    width: 50%;
    flex-shrink: 0;
    position: relative;
    display: block;
  }


  .login-container.right-panel-active .logup-wrapper {
    transform: translateX(0%);
  }

  .logup-container {
    overflow: hidden;
  }

  .login-container.right-panel-active .overlay-panel-container {
    transform: translateX(0%);
}
}

@media (max-width: 450px) {
  #root {
    padding: 0px;
  }

  .login-container {
    padding: 10px;
  }
}