#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f6f5f7;
  font-family: Helvetica, Arial, sans-serif;
}

/* hyj */
* {
  margin: 0px;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}

.login-container{
  position: relative;
  width: 750px;
  max-width: 100%;
  min-height: 480px;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  /* box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
  0 10px 10px rgba(0, 0, 0, 0.20); */
}

.signup, .sign-in{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}
.signup{
  width: 50%;
  opacity: 0;
  z-index: 1;
}
.sign-in{
  width: 50%;
  z-index: 2;
}

.logup-form{
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}
.logup-form input{
 /* display: block; */
 background-color: #eee;
 padding: 12px 15px;
 margin: 12px 0px;
 width: 100%;
 border-radius: 5px;
 border: none;
 outline: none;
 box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.25) inset;
 box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25) inset;
}
.signup form h1, .sign-in form h1{
  font-weight: bold;
  margin: 0;
  /* margin: 20px 0; */
  font-size: 36px;
}
.signup form  p, .sign-in form p {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 0 0 10px;
  font-weight: 600;
  margin: 10px 0 10px;
}
.sign-in form a{
  font-size: 13px;
  text-decoration: none;
}
.signup form  button, .sign-in form button {
  color: #fff;
  background-color: #ff4b2b;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 55px;
  margin: 20px;
  border-radius: 20px;
  border: 1px solid #ff4b2b;
  outline: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  cursor: pointer;
  width: 80%;
}

.signup form  button:active,
.sign-in form button:active,
#sign-Up:active,
#sign-In:active {
  transform: scale(0.9);
}
#sign-Up, #sign-In{
  color: #fff;
  background-color: transparent;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 55px;
  margin: 20px;
  border-radius: 20px;
  border: 2px solid #fff;
  outline: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  cursor: pointer;
}

.login-container.right-panel-active .sign-in{
  transform: translateX(100%);
}
.login-container.right-panel-active .signup{
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
}
.overlay-panel-container{
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}
.login-container.right-panel-active .overlay-panel-container{
  transform: translateX(-100%);
}

.overlay-panel-wrapper{
  position: relative;
  color: #fff;
  background-color: #ff416c;
  left: -100%;
  height: 100%;
  width: 200%;
  background-image: linear-gradient(90deg, #ff4b28, #ff228c);
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.login-container.right-panel-active .overlay-panel-wrapper{
  transform: translateX(50%);
}

.overlay-panel-left, .overlay-panel-right{
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 40px;
  text-align: center;
  /* background-image: ; */
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.overlay-panel-left{
  transform: translateX(-20%);
}
.overlay-panel-right{
  right: 0;
  transform: translateX(0);   
}

.login-container.right-panel-active .overlay-panel-left{
  transform: translateX(0);   
}
.login-container.right-panel-active .overlay-panel-wrapper .overlay-panel-right{
  transform: translateX(20%);   
}


.social-container{
  margin: 15px 0 10px;
  display: flex;
  gap: 10px;
}
.social-container a{
  height: 40px;
  width: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #ccc;
  border-radius: 15%;
  color: black;
}

.sign-in form .pswf{
  margin-top: 5px;
  color: #666;
  font-weight: 600;
  text-decoration: underline;
  align-self: flex-start;
}
.sign-in form .pswf:hover{
  transition: 0.15s linear;
  color: #3498db;
}

.overlay-panel-wrapper p{
  font-weight: 600;
}
.overlay-panel-wrapper h1{
  margin: 20px 0;
}

a.atc{
  color: #333;
  margin-top: 7px;
  align-self: flex-start;
  display: none;
}
a.atc span{
  text-decoration: underline;
  color: black;
  cursor: pointer;
  font-weight: 600;
}



@media (max-width: 850px){
  .signup form h1, .sign-in form h1{
    font-size: 32px;
  }
  a.atc{
    display: block;
  }
}

@media (max-width: 650px){
  .signup form button, .sign-in form button{
    width: auto;
  }
}